{{!-- Activation Cost --}}
<div class="form-group input-select">
    <label>{{ localize "MOJO.ItemActivationCost" }}</label>
    <div class="form-fields">
        <input type="number" step="any" name="system.activation.cost"
            value="{{system.activation.cost}}" placeholder="&mdash;">
        <select name="system.activation.type" title="{{localize 'MOJO.ItemActivationType'}}">
            {{selectOptions config.abilityActivationTypes selected=system.activation.type blank=(localize "MOJO.None")}}
        </select>
    </div>
</div>
{{#if system.activation.type}}

{{!-- Activation Condition --}}
<div class="form-group">
    <label>{{ localize "MOJO.ItemActivationCondition" }}</label>
    <div class="form-fields">
        <input type="text" name="system.activation.condition" value="{{system.activation.condition}}">
    </div>
</div>

{{#if isCrewed}}
<div class="form-group">
    <label>{{ localize "MOJO.Cover" }}</label>
    <div class="form-fields">
        <select name="system.cover" data-dtype="Number">
            {{selectOptions config.cover selected=system.cover blank=""}}
        </select>
    </div>
</div>
{{/if}}

{{!-- Ability Target --}}
<div class="form-group input-select-select">
    <label>{{ localize "MOJO.Target" }}</label>
    <div class="form-fields">
        <input type="number" step="any" name="system.target.value"
            value="{{system.target.value}}" placeholder="&mdash;">
        <select name="system.target.units" title="{{localize 'MOJO.TargetUnits'}}">
            {{selectOptions config.movementUnits selected=system.target.units blank=""}}
        </select>
        <select name="system.target.type" title="{{localize 'MOJO.TargetType'}}">
            {{#select system.target.type}}
                 <option value="">{{localize "MOJO.None"}}</option>
                 <optgroup label="{{localize 'MOJO.TargetTypeIndividual'}}">
                     {{selectOptions config.individualTargetTypes}}
                 </optgroup>
                 <optgroup label="{{localize 'MOJO.TargetTypeArea'}}">
                     {{selectOptions config.areaTargetTypes labelAttr="label"}}
                 </optgroup>
            {{/select}}
        </select>
    </div>
</div>

{{!-- Ability Target Width --}}
{{#if isLine}}
<div class="form-group input-select-select">
    <label>{{ localize "MOJO.TargetWidth" }}</label>
    <div class="form-fields">
        <input type="number" step="any" name="system.target.width"
            value="{{system.target.width}}" placeholder="&mdash;">
    </div>
</div>
{{/if}}

{{!-- Ability Range --}}
<div class="form-group input-select">
    <label>{{ localize "MOJO.Range" }}</label>
    <div class="form-fields">
        <input type="number" step="any" name="system.range.value"
            value="{{system.range.value}}" placeholder="{{localize 'MOJO.Normal'}}"
            title="{{localize 'MOJO.RangeNormal'}}">
        <span class="sep">/</span>
        <input type="number" step="any" name="system.range.long"
            value="{{system.range.long}}" placeholder="{{localize 'MOJO.Long'}}"
            title="{{localize 'MOJO.RangeLong'}}">
        <select name="system.range.units" title="{{localize 'MOJO.RangeUnits'}}">
            {{selectOptions config.distanceUnits selected=system.range.units blank=(localize "MOJO.None")}}
        </select>
    </div>
</div>

{{!-- Effect Duration --}}
<div class="form-group input-select">
    <label>{{ localize "MOJO.Duration" }}</label>
    <div class="form-fields">
        <input type="text" name="system.duration.value" value="{{source.duration.value}}"
               placeholder="&mdash;" title="{{localize 'MOJO.DurationValue'}}" data-formula-editor>
        <select name="system.duration.units" title="{{localize 'MOJO.DurationType'}}">
            {{#select system.duration.units}}
                <option value=""></option>
                {{#each config.timePeriods as |name key|}}
                <option value="{{key}}">{{name}}</option>
                {{/each}}
            {{/select}}
        </select>
    </div>
</div>

{{!-- Limited Uses --}}
<div class="form-group uses-per">
    <label>{{ localize "MOJO.LimitedUses" }}</label>
    <div class="form-fields">
        <input type="number" step="any" name="system.uses.value" value="{{system.uses.value}}"
            title="{{ localize 'MOJO.UsesAvailable' }}">
        <span class="sep">{{localize "MOJO.of"}}</span>
        <input type="text" name="system.uses.max" value="{{source.uses.max}}"
               title="{{localize 'MOJO.UsesMax'}}" data-formula-editor>
        <span class="sep">{{localize "MOJO.per"}}</span>
        <select name="system.uses.per" title="{{localize 'MOJO.UsesPeriod'}}">
            {{selectOptions config.limitedUsePeriods selected=system.uses.per blank=""}}
        </select>
    </div>
</div>

{{#if (eq system.uses.per "charges")}}
<div class="form-group">
    <label>{{localize "MOJO.RecoveryFormula"}}</label>
    <div class="form-fields">
        <input type="text" name="system.uses.recovery" value="{{system.uses.recovery}}" data-formula-editor>
    </div>
</div>
{{/if}}

{{!-- Consumption --}}
<div class="form-group uses-per">
    <label>{{ localize "MOJO.ConsumeTitle" }}</label>
    <div class="form-fields">
        <select name="system.consume.type" title="{{localize 'MOJO.ConsumeType'}}">
            {{selectOptions config.abilityConsumptionTypes selected=system.consume.type blank=""}}
        </select>
        <select name="system.consume.target" title="{{localize 'MOJO.ConsumeTarget'}}">
            {{selectOptions abilityConsumptionTargets selected=system.consume.target blank=""}}
        </select>
        <input type="number" step="any" name="system.consume.amount"
            value="{{system.consume.amount}}" title="{{localize 'MOJO.ConsumeQuanity'}}">
    </div>
</div>
{{/if}}
