<div class="traits">
    <div class="form-group">
        <label>{{localize "MOJO.Size"}}</label>
        <select class="actor-size" name="system.traits.size">
            {{#select system.traits.size}}
            {{#each config.actorSizes as |label size|}}
                <option value="{{size}}">{{label}}</option>
            {{/each}}
            {{/select}}
        </select>
    </div>

    {{#unless isVehicle}}
    <div class="form-group">
        <label>{{localize "MOJO.Senses"}}</label>
        <a class="config-button" data-action="senses" title="{{localize 'MOJO.SensesConfig'}}">
            <i class="fas fa-cog"></i>
        </a>
        <ul class="traits-list">
        {{#each senses as |v k|}}
            <li class="tag {{k}}">{{v}}</li>
        {{/each}}
        </ul>
    </div>

    <div class="form-group {{traits.traits.languages.cssClass}}">
        <label>{{localize "MOJO.Languages"}}</label>
        <a class="trait-selector" data-trait="languages"
           title="{{localize 'MOJO.TraitConfig' trait=(localize 'MOJO.Languages')}}" tabindex="0">
            <i class="fas fa-edit"></i>
        </a>
        <ul class="traits-list">
        {{#each traits.traits.languages.selected as |v k|}}
            <li class="tag {{k}}">{{v}}</li>
        {{/each}}
        </ul>
    </div>
    {{/unless}}

    <div class="form-group {{traits.traits.di.cssClass}}">
        <label>{{localize "MOJO.DamImm"}}</label>
        <a class="trait-selector" data-trait="di"
           title="{{localize 'MOJO.TraitConfig' trait=(localize 'MOJO.DamImm')}}" tabindex="0">
            <i class="fas fa-edit"></i>
        </a>
        <ul class="traits-list">
        {{#each traits.traits.di.selected as |v k|}}
            <li class="tag {{k}}">{{v}}</li>
        {{/each}}
        </ul>
    </div>

    <div class="form-group {{traits.traits.dr.cssClass}}">
        <label>{{localize "MOJO.DamRes"}}</label>
        <a class="trait-selector" data-trait="dr"
           title="{{localize 'MOJO.TraitConfig' trait=(localize 'MOJO.DamRes')}}" tabindex="0">
            <i class="fas fa-edit"></i>
        </a>
        <ul class="traits-list">
        {{#each traits.traits.dr.selected as |v k|}}
            <li class="tag {{k}}">{{v}}</li>
        {{/each}}
        </ul>
    </div>

    <div class="form-group {{traits.traits.dv.cssClass}}">
        <label>{{localize "MOJO.DamVuln"}}</label>
        <a class="trait-selector" data-trait="dv"
           title="{{localize 'MOJO.TraitConfig' trait=(localize 'MOJO.DamVuln')}}">
            <i class="fas fa-edit"></i>
        </a>
        <ul class="traits-list">
        {{#each traits.traits.dv.selected as |v k|}}
            <li class="tag {{k}}">{{v}}</li>
        {{/each}}
        </ul>
    </div>

    <div class="form-group {{traits.traits.ci.cssClass}}">
        <label>{{localize "MOJO.ConImm"}}</label>
        <a class="trait-selector" data-trait="ci"
           title="{{localize 'MOJO.TraitConfig' trait=(localize 'MOJO.ConImm')}}">
            <i class="fas fa-edit"></i>
        </a>
        <ul class="traits-list">
        {{#each traits.traits.ci.selected as |v k|}}
            <li class="tag {{k}}">{{v}}</li>
        {{/each}}
        </ul>
    </div>

    {{#if isCharacter}}
    <div class="form-group {{traits.traits.weaponProf.cssClass}}">
        <label>{{localize "MOJO.TraitWeaponProf"}}</label>
        <a class="trait-selector" data-trait="weapon"
           title="{{localize 'MOJO.TraitConfig' trait=(localize 'MOJO.TraitWeaponProf')}}">
            <i class="fas fa-edit"></i>
        </a>
        <ul class="traits-list">
        {{#each traits.traits.weaponProf.selected as |v k|}}
            <li class="tag {{k}}">{{v}}</li>
        {{/each}}
        </ul>
    </div>

    <div class="form-group {{traits.traits.armorProf.cssClass}}">
        <label>{{localize "MOJO.TraitArmorProf"}}</label>
        <a class="trait-selector" data-trait="armor"
           title="{{localize 'MOJO.TraitConfig' trait=(localize 'MOJO.TraitArmorProf')}}">
            <i class="fas fa-edit"></i>
        </a>
        <ul class="traits-list">
        {{#each traits.traits.armorProf.selected as |v k|}}
            <li class="tag {{k}}">{{v}}</li>
        {{/each}}
        </ul>
    </div>

    <div class="form-group {{traits.traits.toolProf.cssClass}}">
        <label>{{localize "MOJO.TraitToolProf"}}</label>
        <a class="trait-selector" data-trait="tool"
           title="{{localize 'MOJO.TraitConfig' trait=(localize 'MOJO.TraitToolProf')}}">
            <i class="fas fa-edit"></i>
        </a>
        <ul class="traits-list">
        {{#each traits.traits.toolProf.selected as |v k|}}
            <li class="tag {{k}}">{{v}}</li>
        {{/each}}
        </ul>
    </div>
    {{/if}}

    {{#unless isVehicle}}
    <div class="form-group ">
        <label>{{localize "MOJO.SpecialTraits"}}</label>
        <a class="config-button" data-action="flags"
           title="{{localize 'MOJO.TraitConfig' trait=(localize 'MOJO.SpecialTraits')}}">
            <i class="fas fa-cog"></i>
        </a>
    </div>
    {{/unless}}
</div>
